* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0px;
}

body {
  min-height: 100vh;
  margin: 0px;
  font-family: Lato, Helvetica, sans-serif;
  color: rgb(10, 10, 10);
}

h2 {
  font-size: 2em;
  text-align: center;
}

/** for form styling*/

input[type="file"] {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  background-color: rgb(84, 0, 50);
  color: white;
  display: inline-block;
  width: 90%;
}

input[type="email"], input[type="text"], input[type="password"] , input[type="number"] {
  padding: 12px 20px;
  width: 90%;
  height: 30px;
  line-height: 1.15;
  background-color: rgb(206, 230, 231);
  color: black;
  border: none;
  margin-bottom: 2px;
}

input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus {
  border: 2px solid rgba(217, 30, 24, 1);
}

textarea {
  width: 90%;
  height: 50px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

div.form-group {
  display: flex;
  flex-flow: column nowrap;
}

div.form-group>label {
  font-size: 0.8em;
  transform: translateY(130%);
  -ms-transform: translateY(130%);
  -moz-transform: translateY(130%);
  -o-transform: translateY(130%);
  -webkit-transform: translateY(130%);
}

label {
  margin: 4px 2px;
  color: rgba(217, 30, 24, 1);
}


button {
  cursor: pointer;
  background-color: rgba(217, 30, 24, 1);
  border: none;
  color: white;
  text-decoration: none;
  width: 150px;
  padding: 16px 32px;
  margin: 6px 6px;
}



.am {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}

.am-no-margin{
  margin: 0px;
}
.am-no-padding{
  padding: 0px;
}

.am-small{
  background-size: 10px;
}

.am-primary-color{

  background-color:rgba(217, 30, 24, 1); 
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 3px #000;
    -moz-box-shadow: 0px 0px 3px #000;
    box-shadow: 2px 2px 3px #000;
}

.am-40 {
  width: 40px;
  height: 40px;
}

.am-50 {
  width: 50px;
  height: 50px;
}

.am-100 {
  width: 100px;
  height: 100px;
}

.am-menu {
  background-image: url(../img/Menu_5.ico)
}

.am-close {
  background-image: url(../img/Delete.ico)
}

.am-close-white {
  background-image: url(../img/Delete_1.ico)
}

.am-long-arrow-white {
  background-image: url(../img/Long_Arrow_Right.ico)
}

.am-prev-white {
  background-image: url(../img/Back.ico)
}

.am-next-white {
  background-image: url(../img/Forward.ico)
}

.am-plus-white {
  background-image: url(../img/Plus_3.ico)
}

.am-minus-white {
  background-image: url(../img/Minus_2.ico)
}

.btn{
  
  font-weight: bolder;
}

.btn img {  
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  margin-left: 15px;
  width: 25px;
  height: 25px;
}

.is-not-visible {
  display: none;
}