@import url('https://fonts.googleapis.com/css?family=Lato|Saira+Semi+Condensed&display=swap');
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0px;
}

body {
  min-height: 100vh;
  margin: 0px;
  font-family: 'Lato', Helvetica, sans-serif;
  color: rgb(10, 10, 10);
}

h2 {
  font-size: 1.6em;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Saira Semi Condensed', 'Lato', Helvetica, sans-serif;
}

/** for form styling*/

input[type="file"] {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 200;
  background-color: transparent;
  color: white;
  display: inline-block;
  width: 150px;
}

input[type="email"], input[type="text"], input[type="password"], input[type="number"] {
  padding: 12px 20px;
  width: 97%;
  height: 30px;
  line-height: 1.15;
  background-color: rgb(206, 230, 231);
  color: black;
  border: none;
  margin-bottom: 2px;
  /* margin: 0px  2px; */
}

input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus {
  border: 2px solid rgba(144, 12, 63);
}

textarea {
  width: 97%;
  height: 50px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

div.form-group {
  display: flex;
  flex-flow: column nowrap;
  margin:10px;
}

div.form-group-row {
  flex-flow: row nowrap;
  align-content: center;
}

div.form-group>label {
  font-size: 0.8em;
  transform: translateY(130%);
  -ms-transform: translateY(130%);
  -moz-transform: translateY(130%);
  -o-transform: translateY(130%);
  -webkit-transform: translateY(130%);
}

label {
  margin: 4px 2px;
  color: rgba(144, 12, 63);
  font-weight: bolder;
}

button {
  cursor: pointer;
  /* background-image: linear-gradient(white, rgba(144, 12, 63), rgba(144, 12, 63)); */
  background-color: rgb(86, 56, 255);
  border: none;
  color: white;
  text-decoration: none;
  width: 150px;
  height: 50px;
  padding: 4px 8px;
  margin: 10px 0px;
}

button.btn-primary {
  background-color: rgb(86, 56, 255);
}

button.btn-tertiary {
  background-color: rgb(86, 56, 255);
}

.primary-color {
  color: rgb(86, 56, 255);
}

.am {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
}

.bm {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 15em;
  height: 15em;
}

.am-no-margin {
  margin: 0px;
}

.am-no-padding {
  padding: 0px;
}

.am-small {
  background-size: 10px;
  width: 2.5em;
  height: 2.5em;
}

.am-alternate-color {
  background-color: rgb(86, 56, 255);
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 3px #000;
  -moz-box-shadow: 0px 0px 3px #000;
  box-shadow: 2px 2px 3px #000;
}

/* .am-40 {
  width: 40px;
  height: 40px;
}

.am-50 {
  width: 50px;
  height: 50px;
}

.am-100 {
  width: 100px;
  height: 100px;
} */

label {
  font-weight: bolder;
  color: rgb(86, 56, 255);
  font-size: 1.2em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.am-menu {
  background-image: url(../img/Menu.ico)
}

.am-close {
  background-image: url(../img/Delete.ico);
  height: 50px;
  width: 50px;
}

.am-close-white {
  background-image: url(../img/Delete_1.ico)
}

.am-long-arrow-white {
  background-image: url(../img/Long_Arrow_Right.ico)
}

.am-prev-white {
  background-image: url(../img/Back.ico)
}

.am-back-white {
  background-image: url(../img/Long_Arrow_Left_2.ico);
  background-color: transparent;
}

.am-next-white {
  background-image: url(../img/Forward.ico)
}

.am-plus-white {
  background-image: url(../img/Plus_3.ico)
}

.am-minus-white {
  background-image: url(../img/Minus_2.ico)
}

.am-update {
  background-image: url(../img/Update.ico)
}

.am-cart {
  background-image: url(../img/Shopping_Cart.ico)
}

.btn {
  font-weight: bolder;
  border: 2px solid #fdfdfd;
  border-radius: 0.3em;
}

.btn-white {
  background-color: #fdfdfd;
}

span.custom-white {
  color: #fdfdfd;
}

.btn-white>span {
  color: rgb(86, 56, 255);
}

.btn img {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  /* margin-left: 15px; */
  width: 20px;
  height: 20px;
}

.btn img.bigger {
  width: 30px;
  height: 30px;
}

.btn-small {
  width: 100px;
}

.is-not-visible {
  display: none;
}

/* Modal styling */

/* 
.overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.5);
  z-index: 2;
} */

.overlay, .modal {
  position: fixed;
  transition: all .6s ease-in-out 0s;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  padding: 10px;
}

.overlay {
  height: 100vh;
  top: 0;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  z-index: 2;
}



.modal {
  width: 60%;
  top: 3%;
  left: 20%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  z-index: 3;
  /* -webkit-box-shadow: -4px -4px 5px 10px rgba(0, 0, 0, 0.75);
  -o-box-shadow: -4px -4px 5px 10px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: -4px -4px 5px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px -4px 5px 10px rgba(50, 50, 50, 0.75);
  box-shadow: -4px -4px 5px 10px rgba(0, 0, 0, 0.75); */
  background-color: rgba(255, 255, 255, 1);
    color: rgb(86, 56, 255);
    /* color: rgba(217, 30, 24, 1); */
  padding: 10px;
  align-items: flex-end;
  /* max-height: 100px; */
}

.modal h2{
  margin: 0px;
}

.slide-down {
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.modal>div {
  width: 100%;
  margin: auto;
}

select {
  width: 100%;
}

option {
  width: 50px;
}


/** Spinner starts**/

.loader {
  /* float: left; */
  display: none;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width:30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: auto 10px;
}

span.loader-center{
  margin-top:22px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/** Spinner ends**/

span.error{
  padding: 10px;
}