@import url("general.css");
body {
    min-height: 100vh;
}

.aside-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    box-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    -o-box-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    -ms-box-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    -moz-box-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    -webkitbox-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(50, 50, 50, 0.9);
    color: white;
    z-index: 2;
}

.aside-smallscreen {
    display: 'block';
    width: '100%';
}

aside>div {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

aside>div>span {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 10px;
}

aside>div>span:first-child {
    display: none;
}

aside>div>div {
    display: flex;
    flex-flow: column nowrap;
}

aside>div>div>span {
    flex: 1 0 15px;
}

aside>div>div>div {
    flex: 1 0 15px;
}

aside>div>div>div>span::after {
    content: '>';
}

aside>div>nav {
    display: block;
    height: 200px;
    margin: auto 0;
}

aside>div>nav>li {
    list-style-type: none;
    overflow: hidden;
}

aside>div>nav>li>a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    margin: 15px;
}

aside>div>nav>li>a.current {
    transform: scale(2);
}

aside>div>nav>li>a:active {
    color: blue;
    transform: scale(2);
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0;
    grid-template-areas: "header header" "body section";
    padding-left: 15px;
    margin-left: 25%;
    width: 75%;
    color: rgba(144, 12, 63);
    padding-top: 0px;
    padding: 10px;
}

section {
    border: 1px solid rgb(206, 230, 231);
    border-top: 3px solid rgba(144, 12, 63);
    background-color: white;
    height: 350px;
}

body>nav {
    display: none;
}

main>h1 {
    margin: 10px 0;
    padding: 10px;
    text-transform: uppercase;
    grid-area: header;
}

.section-fullscreen {
    display: flex;
    padding: 10px;
    /* margin-left: 10px; */
    /* width: 18%; */
    grid-area: section;
}

.section-smallscreen {
    display: 'block';
    position: 'absolute';
    top: '0';
    left: '0';
    width: '100%';
    height: '100vh';
}

main>section>div>form {
    display: flex;
    flex-flow: column wrap;
    /* width:100%; */
}

main>section>div>form>li {
    list-style-type: none;
    margin: 15px 5px;
    color: black;
}

main>section>div>form>li>label {
    display: flex;
    flex-flow: column wrap;
    font-weight: lighter;
    margin-right: 25px;
}

main>section>div>form>li>select, div#advertisement select {
    cursor: pointer;
    color: black;
    font-weight: lighter;
    height: 30px;
    width: 100%;
    background-color: rgb(206, 230, 231);
    border-bottom: 1px solid black;
}

.card span {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

main>section>div>form>li>select>option {
    background-color: white;
    cursor: pointer;
}

main>div {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    justify-content: space-between;
    padding: 10px;
    grid-area: body;
}

.card {
    box-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    -o-box-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    -ms-box-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    -moz-box-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    -webkitbox-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    flex: 0 0 auto;
    /* margin: 0 0 15px 0; */
    margin-bottom: 15px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    width: calc( (100% - 5px) / 5);
}

.card>div:nth-child(1) {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.card>div:nth-child(1)>img {
    width: auto;
    height: 170px;
}

.card>div:nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.card>div:nth-child(2)>span:nth-child(1) {
    color: rgba(144, 12, 63);
    font-weight: bolder;
}

.card>div:nth-child(2)>span:nth-child(2) {
    font-size: 0.6em;
}

div.card>span {
    display: none;
    text-align: center;
    color: rgba(144, 12, 63);
}

/* img {
    width: 100%;
    height: auto;
} */

/* Style for viewing a particular car */

main>div#single-car {
    display: none;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
    flex-flow: column nowrap;
}

main>div#single-car>div:nth-child(1), main>div#single-car>div:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

main>div#single-car>div:nth-child(1)>div:first-child, main>div#single-car>div:nth-child(1)>div:last-child {
    flex: 1 0 auto;
    height: 250px;
    overflow: hidden;
}

main>div#single-car>div:nth-child(1)>div:first-child>img {
    width: 75%;
    height: auto;
}

main>div#single-car>div:nth-child(1)>div:nth-child(2) {
    flex: 1 0 300px;
    height: 300px;
    margin: 0 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
}

main>div#single-car>div:nth-child(2) {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10px;
}

main>div#single-car>div:nth-child(2)>span:first-child {
    flex: 1 0 auto;
    align-self: center;
}

main>div#single-car>div:nth-child(2)>span:last-child {
    margin-right: 15px;
}

main>div#single-car>div:nth-child(3) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main>div#single-car>div:nth-child(3)>div {
    flex: 1 0 50%;
    margin-top: 20px;
    padding: 10px;
}

div#is-sold-div {
    display: none;
    justify-content: flex-end;
}

main>div#single-car>div:nth-child(3)>div>label {
    font-weight: bolder;
}

main>div#single-car>div:nth-child(3)>div>label::after {
    content: ':';
}

main>div#single-car>div:nth-child(3)>div>span {
    font-weight: 300;
}

/* style for gallery */

div#gallery {
    display: flex;
    flex-flow: row wrap;
}

/* Style for posting adv */

div#advertisement {
    display: none;
    flex-flow: column;
    width: 100%;
    background-image: linear-gradient(white, rgba(144, 12, 63), rgba(144, 12, 63));
    background-color: rgba(144, 12, 63);
}

div#advertisement select {
    width: 90%;
}

/* Style for Purchase order div */

div#make-purchase-order {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5px;
    margin-top: 15px;
}

div#make-purchase-order>div:last-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div#make-purchase-order input[type=number] {
    width: 150px;
    height: 100%;
    padding: 16px 32px;
    /* margin: 6px 6px; */
}

div#make-purchase-order button {
    width: 50px;
    margin: 0;
}

div#current-purchase-order-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 15px;
}

div#current-purchase-order-div>div:nth-child(2) {
    display: none;
}

div#delete-post-div {
    display: none;
    flex-flow: column wrap;
    padding: 10px;
    justify-content: flex-start;
}

div#delete-post-div>span.report {
    text-align: justify;
}

/* styling for accepting or rejecting purchase order div */

div#verify-purchase-order>div {
    /* display: flex;
    flex-flow: column nowrap; */
    overflow-x: auto;
}

table td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.no-display, .mobile-view, span.is-sold-span {
    display: none;
}

span.back-button {
    display: flex;
    justify-content: flex-end;
}

/* Responsive design*/

@media screen and (max-width: 1150px) {
    body>nav {
        border-bottom: 3px solid rgba(144, 12, 63);
    }
    .card {
        margin: 0 15px 15px 0;
        cursor: pointer;
    }
    .card>div:nth-child(1) {
        height: 100px;
        /* overflow: hidden; */
    }
    /* Style for viewing a particular car */
    main>div#single-car {
        width: 100%;
        justify-content: center;
        flex-flow: column nowrap;
    }
    main>div#single-car>div:first-child {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
    }
    main>div#single-car>div:nth-child(1)>div {
        flex: 1 0 auto;
        height: 300px;
        /* margin: 0 5px; */
        overflow: hidden;
    }
    main>div#single-car>div:nth-child(1)>div img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    main>div#single-car>div:nth-child(2) {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 10px;
    }
    main>div#single-car>div:nth-child(2)>span:first-child {
        flex: 1 0 auto;
        align-self: center;
    }
    main>div#single-car>div:nth-child(2)>span:last-child {
        margin-right: 15px;
    }
    main>div#single-car>div:nth-child(3) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    main>div#single-car>div:nth-child(3)>div {
        flex: 1 0 50%;
        margin-top: 20px;
    }
    /* End of style for a single car*/
}

@media (min-width: 601px) and (max-width: 880px) {
    .card>div:nth-child(1) {
        height: 70px;
    }
    .card>div:nth-child(2) {
        width: 100%;
    }
    .card>div:nth-child(1)>img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 601px) {
    main {
        display: flex;
        flex-flow: column nowrap;
    }
    /* Style for viewing a particular car */
    main>div#single-car {
        width: 100%;
        justify-content: center;
        flex-flow: column nowrap;
    }
    main>div#single-car>div:first-child {
        display: flex;
        flex-flow: row nowrap;
        margin-top: 15px;
    }
    /* main>div#single-car>div:nth-child(1)>div:first-child, main>div#single-car>div:nth-child(1)>div:last-child {
        display: none;
    } */
    main>div#single-car>div:nth-child(1)>div:nth-child(2) {
        flex: 1 0 auto;
        height: 300px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 10px #000;
        -moz-box-shadow: 0px 0px 10px #000;
        box-shadow: 0px 0px 10px #000;
    }
    /* End of style for a single car*/
    /* Filter style*/
    .open-filter {
        color: blue;
        display: 'block';
        /* position: 'absolute';
        top: '0';
        left: '0';
        width: '100%';
        height: '100vh'; */
    }
    aside {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    aside>div>span:first-child {
        display: block;
        align-self: flex-end;
        margin-right: 20px;
    }
    main {
        padding-left: 0;
        margin-left: 0;
        margin-top: 130px;
        width: 100%;
    }
    body>nav {
        background-color: white;
        display: flex;
        flex-flow: row nowrap;
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 10px;
    }
    body>nav>span {
        display: block;
        padding: 5px;
        color: rgba(144, 12, 63);
        font-weight: bolder;
        font-size: 2em;
    }
    body>nav>button {
        border: 3px solid rgba(144, 12, 63);
        border-radius: 0.5em;
        margin-right: 16px;
        margin-left: auto;
        cursor: pointer;
    }
    section {
        display: none;
    }
    main>div {
        width: 100%;
    }
    main>div.top {
        display: flex;
        justify-content: space-between;
    }
    .button-fullscreen {
        display: none;
    }
    .card {
        flex: 1 0 100%;
        /* margin-left: 10px; */
        align-content: flex-start;
    }
    .card>div:nth-child(1) {
        width: 100%;
        height: 350px;
    }
    .card>div:nth-child(1)>img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 420px) {
    main>div {
        justify-content: center;
    }
    .card>div:nth-child(1) {
        width: 100%;
        height: 200px;
    }
    div#make-purchase-order>div:last-child {
        margin-top: 10px;
    }
}