@import url("general.css");

body {
  background-image: url(../img/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: linear-gradient(  rgba(0,0,0,0.2) , rgba(255,255,255,0.2) );
  color: white;
  overflow: hidden;
}

body>div{
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 80vh;
    position: absolute;
    top:120px;
    left:0;
    display: flex;
    flex-flow: row nowrap;
    width:100%;
     align-items: center; 
    background-image: linear-gradient(  rgba(0,0,0,0.2) , rgba(255,255,255,0.2) );
}



span.site_name{
    color:black;
    margin-right:auto;
}



main {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex: 1 1 50%;
  padding: 10px;  
  margin:auto 0;
}

main > div{

  display: flex;
  flex-flow: column nowrap;
  padding-left:20px;
  
  
}

main > div> span:nth-child(1),main > div> span:nth-child(2){
  flex: 1 1 auto;
  font-size: 5em;
  
}
main > div> span:nth-child(3),main > div> div{
  flex: 1 1 auto;
  
}
main > div> div{

  width:70%;
  
}

main > div> span:nth-child(3){
  font-size:0.8em;
  width:60%;
}
main > div> button{
  flex: 1 1 auto;
  
}



nav, nav span,nav span>div.form-group{

  display: flex;
  flex-flow: row nowrap;
}

nav {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex: 0 0 auto;
  height:100px;
  padding: 20px;
}

nav>span.site-name{
  flex: 1 0 0;
  margin-right: auto;
}

button#get-started{

  float: right;
}

aside {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex: 1 1 50%;
  flex-flow: column nowrap;
  background-color: white;
  color:rgba(217, 30, 24, 1);
  padding: 10px;
  align-items: flex-end;
   display: none; 
}


aside > div{
    
  width:70%;
  margin:auto;
}

div.form-group {
  display: flex;
  flex-flow: column nowrap;
}
div.form-group > label{
  font-size:0.8em;
  transform:translateY(130%);
  -ms-transform:translateY(130%);
  -moz-transform:translateY(130%);
  -o-transform:translateY(130%);
  -webkit-transform:translateY(130%);
}


label {

  margin: 4px 2px;
}


button {
  background-color: rgba(217, 30, 24, 1);
  width:150px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 6px 6px;
}


.am{
  
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.am-50{
  width:50px;
  height:50px;
}

.am-close{
  background-image: url(../img/Delete.ico)
}

.am-long-arrow{
  background-image: url(../img/Long_Arrow_Right.ico)
}


/* Responsive design*/
@media screen and (max-width: 558px) {

  main > div> span:nth-child(3),main > div> div{
    width:100%;
    
  }
}
