@import url("general.css");
body {
    min-height: 100vh;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    -o-box-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    -ms-box-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    -moz-box-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    -webkitbox-shadow: 4px 6px 2px 2px rgba( 50, 50, 50, 1);
    background-image: url(../img/img22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(50, 50, 50, 0.9);
    color: white;
}

.aside-fullscreen {
    width: 25%;
    z-index: 2;
}

.aside-smallscreen {
    display: 'block';
    width: '100%';
}

aside>div {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

aside>div>span {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 10px;
}

aside>div>span:first-child {
    display: none;
}

aside>div>div {
    display: flex;
    flex-flow: column nowrap;
}

aside>div>div>span {
    flex: 1 0 15px;
}

aside>div>div>div {
    flex: 1 0 15px;
}

aside>div>div>div>span::after {
    content: '>';
}

aside>div>nav {
    display: block;
    height: 200px;
    margin: auto 0;
}

aside>div>nav>li {
    list-style-type: none;
    overflow: hidden;
}

aside>div>nav>li>a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    margin: 15px;
}

aside>div>nav>li>a.current {
    transform: scale(2);
}

aside>div>nav>li>a:active {
    color: blue;
    transform: scale(2);
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0;
    grid-template-areas: "header header" "body section";
    padding-left: 15px;
    margin-left: 25%;
    width: 75%;
    color: rgb(86, 56, 255);
    padding-top: 0px;
    padding: 10px;
}

.primary-color {
    color: rgb(86, 56, 255);
}

.secondary-color {
    color: rgb(86, 56, 255);
}

.tertiary-color {
    color: rgb(86, 56, 255);
}

section {
    border-top: 3px solid rgba(86, 56, 255);
    background-color: white;
}

body>nav {
    display: none;
}

main>h1 {
    /* background-color: rgba(86, 56, 255, 0.3); */
    color: rgb(86, 56, 255);
    width: 98%;
    margin: 10px auto;
    padding: 10px;
    text-transform: uppercase;
    grid-area: header;
    border-radius: 0.3em;
}

.section-fullscreen {
    display: flex;
    padding: 10px;
    /* margin-left: 10px; */
    /* width: 18%; */
    grid-area: section;
}

.section-smallscreen {
    display: 'block';
    position: 'absolute';
    top: '0';
    left: '0';
    width: '100%';
    height: '100vh';
}

main>section>div>form {
    display: flex;
    flex-flow: column wrap;
    /* width:100%; */
}

main>section>div>form>li {
    list-style-type: none;
    margin: 15px 5px;
    color: black;
}

main>section>div>form>li>label {
    display: flex;
    flex-flow: column wrap;
    font-weight: lighter;
    margin-right: 25px;
}

main>section>div>form>li>select, div#advertisement select {
    cursor: pointer;
    color: black;
    font-weight: lighter;
    height: 30px;
    width: 100%;
    background-color: rgb(206, 230, 231);
    border-bottom: 1px solid black;
}

.card span {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

main>section>div>form>li>select>option {
    background-color: white;
    cursor: pointer;
}

main>div {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    justify-content: space-between;
    padding: 10px;
    grid-area: body;
}

.card {
    box-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    -o-box-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    -ms-box-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    -moz-box-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    -webkitbox-shadow: 4px 6px 5px 1px rgba( 50, 50, 50, 1);
    flex: 0 0 auto;
    /* margin: 0 0 15px 0; */
    margin-bottom: 15px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    border-radius: 0.2em;
    flex-flow: column nowrap;
    width: calc( (100% - 5px) / 5);
    overflow: hidden;
}

.card>div:nth-child(1) {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.card>div:nth-child(1)>img {
    width: auto;
    height: 170px;
}

.card>div:nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.card>div:nth-child(2)>span:nth-child(1) {
    font-size: 1.2em;
    font-weight: bolder;
}

.card>div:nth-child(2)>span:nth-child(2) {
    font-size: 0.8em;
}

div.card>span {
    display: none;
    text-align: center;
}

/* img {
    width: 100%;
    height: auto;
} */

/* Style for viewing a particular car */

main>div#single-car {
    display: none;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
    flex-flow: column nowrap;
}

main>div#single-car>div {

    margin-bottom: 20px;
}

main>div#single-car>div:nth-child(1), main>div#single-car>div:nth-child(2) {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

main>div#single-car>div:nth-child(1)>div:first-child, main>div#single-car>div:nth-child(1)>div:last-child {
    flex: 1 0 100%;
    height: 250px;
    overflow: hidden;
}

main>div#single-car>div:nth-child(1)>div:first-child>img {
    width: 100%;
    height: auto;
}

main>div#single-car>div:nth-child(1)>div:nth-child(2) {
    flex: 1 0 300px;
    height: 300px;
    margin: 0 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
}

main>div#single-car>div:nth-child(2) {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10px;
}

main>div#single-car>div:nth-child(2)>span:first-child {
    flex: 1 0 auto;
    align-self: center;
}

main>div#single-car>div:nth-child(2)>span:last-child {
    margin-right: 15px;
}

main>div#single-car>div:nth-child(3) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main>div#single-car>div:nth-child(3)>div {
    flex: 1 0 50%;
    margin-top: 20px;
    padding: 10px;
}

div#is-sold-div {
    display: none;
    justify-content: flex-end;
}

main>div#single-car label {
    
    color: rgb(86, 56, 255);
    font-size: 0.8em;
    font-weight: 250;
}

main>div#single-car>div:nth-child(3)>div>label::after {
    content: ':';
}

main>div#single-car>div:nth-child(2) span, main>div#single-car>div:nth-child(3) span {
    color: rgb(86, 56, 255);
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.2em;
}

/* style for gallery */

div#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

span.amount::before {
    content: "\20A6";
  }
/* Style for posting adv */

div#advertisement {
    display: none;
    flex-flow: column;
    width: 100%;
    /* background-image: linear-gradient(white, rgba(144, 12, 63), rgba(144, 12, 63)); */
    /* background-color: rgba(144, 12, 63); */
}
div#advertisement>header{
    margin-bottom: 20px;
}
div#advertisement>header>button.btn {
    cursor: pointer;
    background-color: #fdfdfd;
    width: 100%;
}

div#advertisement>header>button.btn>span {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.5em;
    color: rgb(86, 56, 255);
}

div#advertisement>form {
    align-items: center;
}

div#advertisement>form, div#advertisement>form>label {
    background-color: rgba(56, 195, 255, 0.2);
    color: rgb(86, 56, 255);
    border-radius: 0.3em;
    margin-bottom: 20px;

}

div#advertisement>form>div.form-group>label {
    color: rgb(86, 56, 255);
}

div#advertisement>form>div.form-group>input {
    background: #fdfdfd;
}

div#advertisement select {
    width: 100%;
}

/* Style for Purchase order div */

div#make-purchase-order {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5px;
    margin-top: 15px;
}

div#make-purchase-order>div:last-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

div#make-purchase-order input[type=number] {
    width: 150px;
    height: 100%;
    padding: 16px 32px;
    /* margin: 6px 6px; */
}

div#make-purchase-order button {
    margin: 22px 0 0 0;
    
}

span.make-purchase-order {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

span.make-purchase-order>div.formgroup {
    align-self: baseline;
}

div#current-purchase-order-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* margin-top: 15px; */
    margin: 35px 0 0 0;
}

div#current-purchase-order-div>div:nth-child(2) {
    display: none;
}

div#delete-post-div {
    display: none;
    flex-flow: column wrap;
    padding: 10px;
    justify-content: flex-start;
}

div#delete-post-div>span.report {
    text-align: justify;
    line-height: 1.5em;
}

/* styling for accepting or rejecting purchase order div */

div#verify-purchase-order>div {
    /* display: flex;
    flex-flow: column nowrap; */
    overflow-x: auto;
}

.no-display, .mobile-view, span.is-sold-span {
    display: none;
}

span.back-button {
    display: flex;
    justify-content: flex-end;
}

/* splash screen */
.splash-screen {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
    /* transform: translate3d(0, 0, 0); */
    z-index: 5;
    /* background-image: radial-gradient(circle, rgb(233, 244, 245) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transition: transform .5s;
    animation: opacity 1s ease-in-out 1 forwards; */
}

.splash-screen > div{

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    /* margin:auto;
    margin-top: auto;
    margin-bottom:auto; */
}

/* end of splash screen */

/* Ripple effect */

.ripple {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translate3d(0, 0, 0);
    z-index: 5;
    background-image: radial-gradient(circle, rgb(233, 244, 245) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transition: transform .5s;
    animation: opacity 1s ease-in-out 1 forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }
    70% {
        opacity: 1;
        transform: scale(10, 10);
    }
    100% {
        opacity: 0;
        transform: scale(0, 0);
    }
}

/*   
  .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  } */

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/* styling table*/

/* https://codepen.io/AllThingsSmitty/pen/MyqmdM */

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 15px 0 0 0;
    padding: 10px;
    width: 100%;
    table-layout: fixed;
    color: rgb(86, 56, 255);
}

table thead, table th {
    background-color: #fdfdfd;
    border: 1px solid #fdfdfd;
    
}

table caption {
    font-size: 1.3em;
    padding: 10px;
    color: rgb(86, 56, 255);
    margin: 15px;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    /* padding: .35em; */
}

table td{
    font-weight: 500;
    font-size: 0.8em;
    padding:10px;
}

td>span.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0.5em;
}

td>span>img {
    width: 30px;
    height: 30px;
}

td>button {
    width: auto;
    height: 35px;
}

td>button>span {
    font-size: 0.7em;
}

td>button>span {
    color: #fdfdfd;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

table th, table td {
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

table tr>th:first-child {
    width: 50px;
}

table tr>th.table-name {
    width: 100%;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 100;
}

/* Responsive design*/

@media screen and (max-width: 1150px) {
    .card {
        margin: 0 15px 15px 0;
        cursor: pointer;
    }
    .card>div:nth-child(1) {
        height: 100px;
        /* overflow: hidden; */
    }
    /* Style for viewing a particular car */
    main>div#single-car {
        width: 100%;
        justify-content: center;
        flex-flow: column nowrap;
    }
    main>div#single-car>div:first-child {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
    }
    main>div#single-car>div:nth-child(1)>div {
        flex: 1 0 auto;
        height: 300px;
        /* margin: 0 5px; */
        overflow: hidden;
    }
    main>div#single-car>div:nth-child(1)>div img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    main>div#single-car>div:nth-child(2) {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 10px;
    }
    main>div#single-car>div:nth-child(2)>span:first-child {
        flex: 1 0 auto;
        align-self: center;
    }
    main>div#single-car>div:nth-child(2)>span:last-child {
        margin-right: 15px;
    }
    main>div#single-car>div:nth-child(3) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    main>div#single-car>div:nth-child(3)>div {
        flex: 1 0 50%;
        /* margin-top: 20px; */
    }
    /* End of style for a single car*/
}

@media screen and (max-width: 900px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
        
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1.2em;
        text-align: center;
    }
    td>button>span {
        font-size: 0.9em;
    }
    td>button {
        width: 100%;
        height: 60px;
    }
    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        /* content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase; */
    }
    table td:last-child {
        border-bottom: 0;
    }
    main {
        display: flex;
        flex-flow: column nowrap;
    }
    /* Style for viewing a particular car */
    main>div#single-car {
        width: 100%;
        justify-content: center;
        flex-flow: column nowrap;
    }
    main>div#single-car>div:first-child {
        display: flex;
        flex-flow: row nowrap;
        margin-top: 15px;
    }
    /* main>div#single-car>div:nth-child(1)>div:first-child, main>div#single-car>div:nth-child(1)>div:last-child {
        display: none;
    } */
    main>div#single-car>div:nth-child(1)>div:nth-child(2) {
        flex: 1 0 auto;
        height: 300px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 10px #000;
        -moz-box-shadow: 0px 0px 10px #000;
        box-shadow: 0px 0px 10px #000;
    }
    /* End of style for a single car*/
    /* Filter style*/
    .open-filter {
        color: blue;
        display: 'block';
        /* position: 'absolute';
        top: '0';
        left: '0';
        width: '100%';
        height: '100vh'; */
    }
    aside, section {
        width: 100%;
        transition: all 1s ease-in-out 0s;
        -webkit-transform: scaleX(0);
        -o-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        -o-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        height: 100vh;
        z-index: 4;
    }
    .slide-right {
        -webkit-transform: scaleX(1);
        -o-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .mobile-view {
        display: block;
    }
    aside>div>span:first-child {
        display: block;
        align-self: flex-end;
        margin-right: 20px;
    }
    main {
        padding-left: 0;
        margin-left: 0;
        margin-top: 130px;
        width: 100%;
    }
    body>nav {
        color: rgba(86, 56, 255);
        background-color: #fdfdfd;
        display: flex;
        flex-flow: row nowrap;
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid rgb(86, 56, 255);
    }
    body>nav>span {
        display: block;
        padding: 5px;
        /* color: rgba(144, 12, 63); */
        font-weight: bolder;
        font-size: 2em;
    }
    body>nav>button {
        /* border: 3px solid rgba(144, 12, 63); */
        border-radius: 0.5em;
        margin-right: 16px;
        margin-left: auto;
        cursor: pointer;
    }
    section {
        /* display: none; */
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: #fdfdfd;
        color: rgb(85, 56, 255);
        padding: 10px;
    }
    section label {
        font-size: 1.2em;
        font-weight: bold;
        color: #fdfdfd;
    }
    main>div {
        width: 100%;
    }
    main>div.top {
        display: flex;
        justify-content: space-between;
    }
    .button-fullscreen {
        display: none;
    }
    .card {
        flex: 1 0 100%;
        /* margin-left: 10px; */
        align-content: flex-start;
    }
    .card>div:nth-child(1) {
        width: 100%;
        height: 350px;
    }
    .card>div:nth-child(1)>img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 420px) {
    main>div {
        justify-content: center;
    }
    .card>div:nth-child(1) {
        width: 100%;
        height: 200px;
    }
    div#make-purchase-order>div:last-child {
        margin-top: 10px;
    }
}

@media (min-width: 900px) and (max-width: 1220px) {
    td>button {
        width: 65px;
    }
    td>button>span {
        font-size: 0.8em;
    }
}

div#purchase-order, div#advert, div#admin-page {
    display: none;
    flex: 1 1 100%;
}

div#purchase-order {
    max-width: 100%;
}

div#delete-post-div {
    color: rgb(86, 56, 255);
}

div#delete-post-div>div {
    margin: 20px 0px;
}