@import url("general.css");
body {
  background: rgba(153,152,254,0.6);
  color: white;
}
/* correct commit message */
main {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

main>div:first-child {
  flex: 0 0 50%;
  width:100% ;
  background-image: url(../img/landscape-1844231_1280.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

main>div:last-child {
  flex: 0 1 50%;
}

.btn>span {
  display: inline;
  font-size: 1em;
}

.car-image {
  position: absolute;
  margin: auto;
  z-index: 2;
  width: 50%;
  height: 75vh;
  top: 25%;
  /* bottom:0; */
  /* right: 0; */
  left: 25%;
  margin: auto;
  /* background: rgba(255,255,255,0.9); */
  /* border-radius: 50%; */
  overflow: hidden;
}

.car-image>img {
  height: auto;
  width: 70%;
}

.lady-image {
  position: absolute;
  top: 10px;
  left: 0;
  /* margin: auto; */
  z-index: 2;
  width: 225px;
  height: 280px;
  /* background: rgba(255,255,255,0.9); */
  /* border-radius: 50%; */
  overflow: hidden;
}

.lady-image>img {
  height: 280px;
  width: auto;
}

span.header {
  display: block;
  margin-top: -50px;
  text-align: center;
  padding: 20px 10px;
  font-size: 2em;
  line-height: 20px;
  letter-spacing: 15px;
}

span.sub-header {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1em;
  line-height: 0.9em;
  font-family: 'Lato', Helvetica, sans-serif;

}

.title, .site-name {
  font-family: 'Saira Semi Condensed','Lato', Helvetica, sans-serif;
}

.sub-title {
  font-family: 'Kanit', 'Indie Flower', cursive;
  /* font-weight: 900; */
}

span.site_name {
  color: black;
  margin-right: auto;
}

nav span>div.form-group {
  display: flex;
  flex-flow: row nowrap;
}

nav {
  display: flex;
  position: absolute;
  top:0;
  left:0;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 0 0 auto;
  height: 100px;
  width:100%;
  padding: 20px;
  z-index: 2;
}

nav span:nth-child(2)>form , div.sign_in_error{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

nav span:nth-child(2)>form button {
  padding: 5px;
  width: 50px;
  height: 25px;
  margin-bottom: -12px;
}

nav>span.site-name {
  flex: 1 0 50%;
  /* margin-right: auto; */
  font-size: 2em;
  font-weight: bold;
}

nav>span.form {
  flex: 1 1 auto;
 
}

div.get-started {
  display: flex;
  flex: row nowrap;
  justify-content: center;
}

button#get-started {
  width: 140px;
  padding: 5px;
}

span.sign_in_container{
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 100%;
}



/* Responsive design*/

@media (max-width: 1200px) {
  .car-image {
    width: 90%;
    left: 5%;
  }
  .car-image>img {
    height: auto;
    width: 90%;
  }
}