@import url("general.css");
body {
  background-image: url(../img/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: linear-gradient( rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  color: white;
}

body>div {
  min-height: 80vh;
  position: absolute;
  top: 140px;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
}

span.site_name {
  color: black;
  margin-right: auto;
}

main {
  flex: 1 1 50%;
  padding: 10px;
  margin: auto 0;
}

main>div {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 20px;
}

main>div>span:nth-child(1), main>div>span:nth-child(2) {
  flex: 1 1 auto;
  font-size: 5em;
}

main>div>span:nth-child(3), main>div>div {
  flex: 1 1 auto;
}

main>div>div {
  width: 70%;
}

main>div>span:nth-child(3) {
  font-size: 0.8em;
  width: 60%;
}

main>div>button {
  flex: 1 1 auto;
}

nav span>div.form-group {
  display: flex;
  flex-flow: row nowrap;
}

nav {
  flex-flow: column nowrap;
  flex: 0 0 auto;
  height: 100px;
  padding: 20px;
}

nav span:nth-child(2)>form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

nav span:nth-child(2)>form button {
  padding: 5px;
  width: 50px;
  height: 25px;
  margin-bottom: -12px;
}

nav>span.site-name {
  flex: 1 0 0;
  margin-right: auto;
  font-size: 2em;
  font-weight: bold;
}

button#get-started {
  float: right;
  width:210px;
}

aside {
  -webkit-box-shadow: -4px -4px 5px 10px rgba(0, 0, 0, 0.75);
  -o-box-shadow: -4px -4px 5px 10px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: -4px -4px 5px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px -4px 5px 10px rgba(50, 50, 50, 0.75);
  box-shadow: -4px -4px 5px 10px rgba(0, 0, 0, 0.75);
  flex: 1 1 50%;
  flex-flow: column nowrap;
  background-color: white;
  color: rgba(217, 30, 24, 1);
  padding: 10px;
  align-items: flex-end;
  display: none;
}

aside>div {
  width: 70%;
  margin: auto;
}



/* Responsive design*/

@media screen and (max-width: 558px) {
  main>div>span:nth-child(3), main>div>div {
    width: 100%;
  }
}